{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClimateChange</title>
    <link rel="shortcut icon" href="{% static 'polls/images/icon.png' %}">
    <meta name="description" content="Polls">
    <meta name="keywords" content="poll, question, answer">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">
    {% block head %}
    {% endblock %}
</head>

<body>

{% block content %}
{% endblock %}


</body>

</html>